<div class="measurements-container">
    <h1>Measurements</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Temperature (°C)</th>
          <th>Humidity (%)</th>
          <th>Pressure (hPa)</th>
          <th>PM2.5 Concentration (µg/m³)</th>
          <th>ESP ID</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let measurement of measurements">
          <td>{{ measurement.id }}</td>
          <td>{{ measurement.date }}</td>
          <td>{{ measurement.temperature }}</td>
          <td>{{ measurement.humidity }}</td>
          <td>{{ measurement.pressure }}</td>
          <td>{{ measurement.pm25_concentration }}</td>
          <td>{{ measurement.esp_id }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  