<div class="container mt-4">
  <h2 class="mb-3">Select Your ESP</h2>
  <div class="form-group">
    <select
      class="form-control"
      [(ngModel)]="selectedEsp"
      (ngModelChange)="onEspSelect($event)"
      [disabled]="esps.length === 0"
    >
      <option value="" disabled>Select ESP</option>
      <option *ngFor="let esp of esps" [ngValue]="esp">{{ esp.name }}</option>
    </select>
  </div>

  <div *ngIf="loaded && selectedEspData?.length" class="mt-4">
    <h3>Data for {{ selectedEsp?.name }}</h3>

    <div class="row">
      <div class="col-md-6 col-lg-6">
        <div class="card mb-4">
          <div class="card-header">Temperature</div>
          <div class="card-body">
            <canvas #temperatureChart></canvas>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="card mb-4">
          <div class="card-header">Humidity</div>
          <div class="card-body">
            <canvas #humidityChart></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-6">
        <div class="card mb-4">
          <div class="card-header">Pressure</div>
          <div class="card-body">
            <canvas #pressureChart></canvas>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="card mb-4">
          <div class="card-header">Air Quality</div>
          <div class="card-body">
            <canvas #airChart></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!loaded && errorMessage" class="alert alert-danger mt-4">
    {{ errorMessage }}
  </div>

  <div *ngIf="!loaded && !selectedEspData && !errorMessage" class="mt-4">
    <p>Please select an ESP to see the data.</p>
  </div>
</div>
